<div class="container1">
<h1>Welcome to linkedOn</h1>

<%= link_to	'Create a new user', new_user_path %> <br>
<%= link_to	'Create a skill', new_skill_path %> <br>
<%= link_to	'Create a organization', new_organization_path %> <br>
<%= link_to	'Create an occupation', new_occupation_path %> <br>
</div>
<div class="container2">
<h2>usrs --not using vowels is cool</h2>
<% @users.each do |user| %>
	
	<h3><%= link_to user.name, user_path(user)%></h3>
	

	<%= link_to "edit", edit_user_path(user), class: "editLink"%>
<%end%>
</div>
<div class="container2">
<h2>ORGS --like scientology</h2>
<% @organization.each do |org|%>
	<h3><%= link_to org.name, organization_path(org) %></h3>
<%end%>

<!-- <h2>Skillz</h2>
<% @skill.each do |skill|%>
	<h3><%= link_to skill.name, skill_path(skill) %></h3>
<%end%>
 -->
</div>