<div class="container">
<%= form_for @user do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br><br>
<%= f.label :email %>
<br>
<%= f.text_field :email %>
<br><br>
<%= f.select:organization_id, options_from_collection_for_select(Organization.all, :id, :name) %>
<br><br>
<%= f.submit 'Create!'%>



<%end%>
</div>